.project
/.settings/
/.pytest_cache
/.cache/
/.tox/
.ipynb_checkpoints/
*.pyc
*.pyo
*.log
*.tmp
tmp.*
*~
.*~
MANIFEST
/AUTHORS
/ChangeLog
/*.done
pylint_done
.coverage
/coverage_html/
*.py,cover
.DS_Store
schema
